.model small
.stack 64
.data
 CUMLE  DB 'COP VAR MIDIR&'
 SONUC DB ?
 .CODE
 ANA PROC NEAR 
 	MOV AX, @DATA	
 	MOV DS,AX
 	MOV CL,0
 	MOV BX,OFFSET CUMLE
 	
 	BASLA:
 	MOV AL,[BX]
 	CMP BX,'&'
 	JE BITIR
 	CMP AL,20H
 	JE ARTTIR
 	INC BX 
 	JMP BASLA
 	
 	
 	ARTTIR:
 	INC CL
 	INC BX
 	JMP BASLA
 	
 	BITIR:
 	MOV SONUC,CL
 	MOV AH,4CH
 	INT 21H
 	ANA ENDP 
 	
 END ANA
